
@font-face {
  font-family: Noto_sans_KR;
  src: url(/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto_sans_KR;
  text-decoration: none;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 150px;
  background-color: rgba(10, 10, 10, 0.574);
  transition: 0.5s ease;
}

header .brand{
  color: #ffffff;
  text-transform: uppercase;
  text-align: center
}
header .brand h1{
  letter-spacing: 3px;
  font-weight: 800;
}
header .brand p {
  padding-left: 10px;
  font-weight: 300;
  letter-spacing: 10px;
}

header .navigation{
  position: relative;
}
header .navigation_items a{ 
  position: relative;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation_items a::before{
  content: '';
  position: absolute;
  background: #ffffff;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation_items a:hover:before{
  width: 100%;
}
section{
  padding: 100px 150px;
  transition: 0.3s ease;
}
.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #948373;
}
.home::before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(9, 35, 68, 0.3);
  width: 100%;
  height: 100%;
  top:0;
  left:0;

}

.home .content{
  z-index: 888;
  color: #ffffff;
  width: 70%;
  margin-top: 50px;
  display: none;
}
.home .content.active{
  display: block;
}
.home .content h1{
  font-size: 40px;
  font-weight: 400;

}
.home .content h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 75px;
  margin-bottom: 30px;
}
.home .content p{
  margin-bottom: 65px;
}
.home .content a{
  background: #ffffff;
  padding: 15px 35px;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
}
.home img{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 10px;
}
.slider_navigation .nav_btn{
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.slider_navigation .nav_btn.active{
  background: #000000;
}
.slider_navigation .nav_btn:not(:last-child){
  margin-right: 30px;
}
.slider_navigation .nav_btn:hover{
  transform: scale(1.2);
}
.image_slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.image_slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
footer{
  z-index: 999;
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 150px;
  background: rgba(11, 11, 11, 0.796);
  color: #ffffff;
}
footer .footer_navigation{
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  width: 100%;
  transition: 0.3s ease;
}
footer .footer_navigation a{
  content: '';
  display: inline-block;
  position: relative;
  color: #ffffff;
  margin: 1px 20px;
  font-weight: 300;
  transition: 0.3s ease;
}
footer .footer_content{
  position: relative;
  box-sizing: border-box;
  padding: 25px 165px;
  line-height: 1.5em;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
}

footer .footer_content .footer_info{
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  padding: 4px;
  letter-spacing: 1px;
}
footer .footer_content .copyright{
font-size: 10px;
font-weight: 200;
padding-top: 30px;
}

@media (max-width: 1040px){
  header {
    padding: 12px 20px;
    transition: 0.5s ease;
}

section {
  padding: 100px 20px;
  transition: 0.5s ease;
}
header .navigation{
  display: none;
}
header .navigation.active{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(1, 1, 1, 0.5);
}
header .navigation .navigation_items a {
  color: #ffffff;
  font-size: 20px;
  margin: 15px;
  transition: 0.3s ease;
}
header .navigation .navigation_items a::before{
  background: #ffffff;
  height: 5px;
}
header .navigation.active .navigation_items{
  background: #514444;
  width: 600px;
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 3px 15px rgba(1, 1, 1, 20%);

}
.menu_btn{
  background: url(/icons/bars-solid.svg) no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}
.menu_btn.active{
  z-index: 999;
  background: url(/icons/x-solid.svg)no-repeat;
  background-size: 25px;
  background-position: center;
  transition: 0.3s ease;
}

footer{
  padding: 10px 15px;
}

footer .footer_content{
  padding: 0px 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}